<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- permiso para hacer llamadas -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- permiso para mandar sms -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- permiso para aceder a internet y mandar correo -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- permiso para aceder a almacenaje exterior, para poder acceder a galeria de imagenes -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:name=".App.ContactosApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_tr_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteStore10"
        tools:targetApi="31">
        <activity
            android:name=".Login.RestablecePassword"
            android:exported="false" />
        <activity
            android:name=".UI.Contactos.ContactDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoteStore10_sin_bar" />
        <activity
            android:name=".UI.CalendarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoteStore10_sin_bar" />
        <activity
            android:name=".UI.PerfilUser.PerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoteStore10_sin_bar" />
        <activity
            android:name=".UI.Notas.NotasActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoteStore10" />
        <activity
            android:name=".UI.Contactos.ContactosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.MenuPrincipalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoteStore10_sin_bar" />
        <activity
            android:name=".Login.RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoteStore10_sin_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>